obj/
bin/
[Pp]roperties/PublishProfiles/*
#[Pp]roperties/ServiceDependencies/*
.vscode/
.vs/
.idea/
*.bkp
*.dtmp
.ionide
appsettings.json
appsettings.*.json
appspec.yml
buildspec.yml
deploy.ps1
DOCKERFILE
.dockerignore
customers.json
!appsettings.example.json